streamlit
pandas
numpy
plotly
fpdf
openpyxl
streamlit-option-menu
Kaledio


# import streamlit as st
# import pandas as pd
# import numpy as np
# from datetime import datetime, date
# from streamlit_option_menu import option_menu
# import plotly.graph_objects as go
# import tempfile
# from fpdf import FPDF
# import os
# import Kaledio
